<p><strong>Estadísticas:</strong></p>
<p>- Número de preguntas: <%= quizes.length %></p>
<p>- Número de comentarios: <%= numComments %></p>
<p>- Número medio de comentarios por pregunta: <%= averageComments %></p>
<p>- Número de preguntas sin comentarios: <%= numQuestionsWithoutComments %></p>
<p>- Número de preguntas con comentarios: <%= numQuestionsWithComments %></p>
